.minilist-wrapper {
  outline: 1px solid #ccc;
  box-shadow: 0 4px 4px 0 #666;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* grid-template-rows: 1fr 1fr 14fr; */
}

.search-wrapper {
  outline: 1px solid #ccc;
  box-shadow: 0 2px 2px 0 #666;
  display: grid;
  grid-template-columns: 4fr 1fr;
  column-gap: 7px;
  align-items: center;
  height: 39px;
}