.PurchasesListItemWrapper {
  position: relative;
  box-shadow: 0 0 2px gray;
  margin: 4px;
  padding: 6px;
}

.open {
  transition: height 150ms ease-in;
  /* height: 155px; */
}

.close {
  transition: height 200ms ease-in;
  /* height: 44px; */
  display: grid;
  grid-template-columns: 6fr 5fr 5fr 5fr;
}

.OpenPurchasesListItemBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.OpenPurchasesListItemBlockLastItem {
  justify-self: end;
}

.PurchasesListItemDeadline {
  justify-self: end;
}

.low {
  outline: 3px solid #0a0;
}

.medium {
  outline: 3px solid #ee1;
}

.high {
  outline: 3px solid #e11;
}
