.PurchasesListItemWrapper {
  position: relative;
  display: grid;
  grid-template-columns: 6fr 5fr 5fr 5fr;
  /* align-items: center; */
  box-shadow: 0 0 2px gray;
  margin: 4px;
  padding: 6px;
  height: 44px;
  transition: height 200ms ease-in;
}

.OpenPurchasesListItemWrapper {
  position: relative;
  /* display: grid; */
  /* grid-template-rows: 1fr 1fr 2fr 1fr 20fr; */
  /* align-items: center; */
  box-shadow: 0 0 2px gray;
  margin: 4px;
  padding: 6px;
  height: 155px;
  transition: height 150ms ease-in;
}

/* .open {
  height: 150px;
} */

.OpenPurchasesListItemBlock {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.OpenPurchasesListItemBlockLastItem {
  justify-self: end;
}

.PurchasesListItemDeadline {
  justify-self: end;
}

.low {
  outline: 3px solid #0a0;
}

.medium {
  outline: 3px solid #ee1;
}

.high {
  outline: 3px solid #e11;
}
