.listheader-wrapper {
  display: grid;
  grid-template-columns: 3fr 4fr 3fr;
  border-bottom: 1px solid black;
  align-items: center;
  justify-items : center;
}

.listHeader-title {
  margin-top: 0 !important;
}
