.purchasesFilterWrapper {
  padding: 15px;
  display: grid;
  gap: 20px;
  grid-template-rows: max-content max-content max-content max-content max-content max-content
  max-content;
  }


.purchasesFilterBlock {
  display: grid;
  gap: 10px
}

.purchasesFilterWrapper h2, .purchasesFilterWrapper p, .purchasesFilterWrapper h1 {
  margin: 0;
}

.PurchasesCostFilter {
  display: grid;
  align-items: center;
  grid-template-columns: max-content 1fr max-content 1fr;
  gap: 4px;
}


.PurchasesCostFilterInputNumber {
  width: 100% !important;
}

.PurchasesExistDeadlineFilter {
  display: grid;
  gap: 10px;
  align-items: center;
  grid-template-columns: max-content max-content;
}

.PurchasesButtonsFilter {
  display: grid;
  gap: 10px;
  grid-template-columns: max-content max-content;
  justify-content: center;
}

.purchasesFilterState {
  grid-template-columns: max-content max-content max-content;
  align-items: center;
}
