.SpendingListWrapper {
  display: grid;
  grid-template-rows: max-content max-content max-content 1fr;
  gap: 4px;
}

.SpendingListBlock {
  box-shadow: 0 2px 2px 0 #aaa;
  display: flex;
  gap: 2px;
}