.main {
  position: fixed;
  top: 0;
  right: 0;
  bottom:0;
  left: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  z-index: 1;
  transition: 0.5s;
}

.body {
  padding: 2rem;
  min-width: 400px;
  max-width: 600px;
  min-height: 200px;
  max-height: 500px;
  background: white
}

