.notewrapper {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  box-shadow: 0 4px 4px 0 #666;
}

textarea {
  /* width: 98.7%; */
  /* height: 80%; */
  flex-grow: 2;
}

.notename {
  height: 25px;
}

button {
  height: 34px;
}