.login {
  display: grid;
  flex-direction: column;
  width: 400px;
  height: 400px;
  border:  1px solid black;
  border-radius: 10px;
  box-shadow: 0 3px 7px gray;
  justify-self: center;
  justify-content: center;
  align-self: center;
}

.login > div {
  width: 100%;
}

.login > div > p {
  margin: 0;
}

.login > div > input {
  height: 25px;
  width: 100%;
}

.login > h1 {
  margin: 0;
  margin-top: 10px;
}
