.registration {
  display: grid;
  flex-direction: column;
  width: 400px;
  height: 500px;
  border:  1px solid black;
  border-radius: 10px;
  box-shadow: 0 3px 7px gray;
  justify-self: center;
  justify-content: center;
  align-self: center;
}